    @model List< EcoOcean.Models.Area>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/css/listacl.css" rel="stylesheet">
    <link href="/static/css/botao.css" rel="stylesheet">
    <link href="~/css/Tabela.css" rel="stylesheet" type="text/css" />

</head>


<body>

    <div class="logo">
        <img src="~/css/imgs/Logo.png" alt="Logo">____
        <a class="btn" asp-area="" asp-controller="Area" asp-action="Home">Voltar</a>
    </div>

    <div class="btn-link-flash" role="alert" align="center">
    </div>

    <h1 class="titulo">Lista de Areas</h1>


    <br /><br />
    <table class="tabela" bgcolor="black" width="800">

        <tr bgcolor="grey" align="center">
            <th width="100">Cep</th>
            <th width="100">Estado</th>
            <th width="100">Cidade</th>
            <th width="100">Rua</th>
            <th width="100">Descricao</th>
            <th width="100">Editar</th>



        </tr>
        <tbody>
            @foreach (var Area in Model)
            {
                <tr bgcolor="lightgrey" align="center">
                    <td>@Area.Cep</td>
                    <td>@Area.Estado</td>
                    <td>@Area.Cidade</td>
                    <td>@Area.Rua</td>
                    <td>@Area.Descricao</td>
                    <td>
                        <a asp-controller="Area" asp-action="EditarPage" asp-route-id="@Area.Id">Editar</a>
                        <a asp-controller="Area" asp-action="DeletarArea" asp-route-id="@Area.Id">Deletar</a>
                    </td>
                </tr>
            }


        </tbody>

    </table>

</body>
</html>