
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="~/css/Tabela.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/listacl.css" rel="stylesheet">
    <link href="/static/css/botao.css" rel="stylesheet">

</head>


<body>



    <div class="logo">
        <img src="~/css/imgs/Logo.png" alt="Logo">____
        <a class="btn" asp-area="" asp-controller="Home" asp-action="Index">Voltar</a>
    </div>
    <div class="btn-link-flash" role="alert" align="center">
    </div>

    <h1 class="titulo">Lista de Eventos</h1>


    <input type="hidden" name="IdVoluntario" value="@ViewBag.IdVoluntario">


    <table class="tabela" bgcolor="black" width="800">
        <tr bgcolor="grey" align="center">
            <th width="100">Cep</th>
            <th width="100">Estado</th>
            <th width="100">Cidade</th>
            <th width="100">Rua</th>
            <th width="100">Complemento</th>
            <th width="100">Data de Inicio</th>
            <th width="100">Participar</th>
        </tr>
        <tbody>
            @foreach (var item in Model)
            {
                // Verifique se o evento está associado a uma área
                if (item.Evento != null && item.Evento.Status == "Andamento")
                {
     
                
                    {
                        <tr bgcolor="lightgrey" align="center">
                            <td>@item.Area.Cep</td>
                            <td>@item.Area.Estado</td>
                            <td>@item.Area.Cidade</td>
                            <td>@item.Area.Rua</td>
                            <td>@item.Area.Descricao</td>
                            <td>
                                @if (item.Evento.DataInicio != null)
                                {
                                    <text>@item.Evento.DataInicio</text>
                                }
                                else
                                {
                                    <text>Sem evento associado a esse CEP, associe um</text>
                                }
                            </td>
                            <td><a asp-controller="Voluntario" asp-action="ParticiparEvento" asp-route-VoluntarioId="@ViewBag.IdVoluntario" asp-route-eventoId="@item.Evento.Id">Participar</a></td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</body>
</html>